# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
  branches:
   include:
   - main
   - '*'

pool:
  vmImage: ubuntu-latest

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '20.x'
  displayName: 'Install Node.js'

- script: |
    npm install
  displayName: 'npm install'
 
- script: |
    
    chmod +x node_modules/.bin/playwright
    npx playwright install --with-deps
  displayName: 'Playwright install'
 
- script: |
    mvn test -Denv=preprod -Dbrand=vans -Dregion=us -Dtag=@Vans_SmokePaypal2
    displayName: 'Execute scripts'
